
<h2 mat-dialog-title>Add Insurance</h2>
<form [formGroup]="addInsuranceForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div mat-form-field class="example-full-width">
      <input matInput placeholder="Insurance Description" formControlName="insuranceDescription">
    </div>

    <div mat-form-field class="example-full-width">
      <input matInput [attr.matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
      <div mat-datepicker-toggle matSuffix [attr.for]="startDate"></div>
      <div mat-datepicker #startDate></div>
    </div>

    <div mat-form-field class="example-full-width">
      <input matInput [attr.matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
      <div mat-datepicker-toggle matSuffix [attr.for]="endDate"></div>
      <div mat-datepicker #endDate></div>
    </div>

    <div mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" formControlName="amount">
    </div>

    <div mat-form-field class="example-full-width">
      <input matInput placeholder="Interest Rate" formControlName="interestRate">
    </div>

    <div mat-form-field class="example-full-width">
      <input matInput placeholder="Renewal Count" formControlName="renewalCount">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Save</button>
    <button mat-button mat-dialog-close [disabled]="isLoading">Cancel</button>
  </div>

</form>
