<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       
    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Insurance</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/myInsurance"> <i class="bi bi-circle"></i><span>Insurance List</span> </a></li>
         <li> <a routerLink="/myInsuranceTransaction"> <i class="bi bi-circle"></i><span>Insurance Transaction</span> </a></li>
         <li> <a routerLink="/myInsuranceDetail"> <i class="bi bi-circle"></i><span>Insurance Detail</span> </a></li>
      </ul>
   </li>
</ul>
 </aside>
