<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Dashboard</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
       <div class="row">
         <div class="col">
            <div class="card">
               <div class="chart-container">
                  <h5 class="card-title">  Interest By Insurance</h5>
                  <canvas  id="Interest By Insurance" >{{ chart }}</canvas>
               </div>  
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="chart-container">
                  <h5 class="card-title">  Interest By Insurance Type</h5>
                  <canvas  id="InterestByinsuranceTypeChart" >{{ chart }}</canvas>
               </div>  
            </div>   
         </div>  
         <div class="col">
             
         </div>      
       </div>
       <div class="row">
         <div class="col">
            <div class="card">
               <div class="chart-container">
                  <h5 class="card-title">  Average Amount Spent On Accident</h5>
                  <canvas  id="AverageAmountSpent" >{{ chart }}</canvas>
               </div>  
            </div>      
         </div>  
         <div class="col">
             
         </div> 
                
       </div>
    </section>
    
 </main>